<form method="post" class="position-relative" style="width:220px;">
  <p class="text-center">Поставьте вашу оценку:</p>
  {% csrf_token %}
  <div class="rating-area">
    <input type="radio" id="star-5" name="rating" value="5">
    <label for="star-5" title="Оценка «5»"></label>
    <input type="radio" id="star-4" name="rating" value="4">
    <label for="star-4" title="Оценка «4»"></label>
    <input type="radio" id="star-3" name="rating" value="3">
    <label for="star-3" title="Оценка «3»"></label>
    <input type="radio" id="star-2" name="rating" value="2">
    <label for="star-2" title="Оценка «2»"></label>
    <input type="radio" id="star-1" name="rating" value="1">
    <label for="star-1" title="Оценка «1»"></label>

    <button type="submit" class="btn btn-secondary mt-3" style="margin-left: 63px; background-color: #ABF26D;">Оценить</button>
  </div>
</form>
