<style type="text/css">
 #footer {
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  color: #e8e8e8; /* Цвет текста */
  width: 100%; /* Ширина слоя */
 }
 #footer div {
  padding: 5px; /* Поля вокруг текста */
  background: #4247d6; /* Цвет фона */
 }
</style>
<div id="footer">
  <script async
          src="https://usocial.pro/usocial/usocial.js?uid=647d05a2cbf64990&v=6.1.5"
          data-script="usocial"
          charset="utf-8">
  </script>
  <div
    class="uSocial-Share"
    data-pid="cb29c37b072f31c2c55ad4487224ffd4"
    data-type="share"
    data-options="round-rect,style1,default,bottom,slide-down,size24,eachCounter0,counter0,nomobile,mobile_position_right"
    data-social="vk,twi,telegram,wa">
  </div>
  <div>
    &copy; AHPC 1965-{% now "Y" %}.
  </div>
</div>
